* {
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

*:focus {
  outline: none; }

html {
  font-size: 62.5%;
  font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased; }

body {
  background-color: #141414; }

.footer {
  width: 100%;
  grid-area: footer;
  color: #80868b;
  padding: 2rem 1.5rem 6.5rem; }
  .footer p {
    display: block;
    margin: .3rem 0;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6; }
    .footer p a {
      color: inherit; }
  .footer ul {
    display: flex;
    margin: 2rem 0 0 -.5rem;
    list-style: none; }
    .footer ul li {
      width: 4.4rem;
      height: 4.4rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .footer ul li ion-icon {
        width: 2.4rem;
        height: 2.4rem;
        color: #80868b; }

@media only screen and (min-width: 768px) {
  .footer {
    padding: 2rem 5rem;
    margin-bottom: 6rem; } }

@media only screen and (min-width: 1200px) {
  .footer {
    padding: 2rem 5rem;
    margin-bottom: 0; } }

.mobileback {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
  width: 100%;
  background-color: black; }
  .mobileback__backicon {
    position: absolute;
    top: 0;
    left: 0;
    width: 4.5rem;
    height: 100%;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    outline: 0;
    transition: all .2s;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    .mobileback__backicon ion-icon {
      color: white;
      width: 2.4rem;
      height: 2.4rem; }
  .mobileback__text {
    overflow: hidden;
    font-size: 1.4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.6rem;
    font-weight: 400;
    color: white; }

@media only screen and (min-width: 1200px) {
  .mobileback {
    display: none; } }

.navigation {
  grid-area: navigation;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  height: 4.5rem;
  background-color: black; }
  .navigation__list {
    display: flex;
    height: 100%;
    list-style: none; }
    .navigation__list-item {
      flex: 1 1 auto;
      height: 100%; }
      .navigation__list-item a,
      .navigation__list-item button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        outline: 0;
        transition: all .2s;
        color: white;
        background-color: transparent;
        border: none; }
        .navigation__list-item a.active ion-icon,
        .navigation__list-item button.active ion-icon {
          color: #1971B7; }
        .navigation__list-item a ion-icon,
        .navigation__list-item button ion-icon {
          width: 3rem;
          height: 3rem;
          color: white; }

@media only screen and (min-width: 1200px) {
  .navigation {
    height: 100vh;
    border-right: 1px solid #202124;
    position: fixed;
    width: 10rem; }
    .navigation__list {
      width: 100%;
      display: flex;
      flex-direction: column; }
      .navigation__list-item {
        width: 10rem;
        height: 10rem;
        flex: unset; }
        .navigation__list-item a {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%; } }

.carousel {
  height: 35rem; }
  .carousel__item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .carousel__item-backdrop {
      position: relative;
      display: flex;
      min-height: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden; }
    .carousel__item-gradient {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: black;
      background: linear-gradient(0deg, black 0%, black 22%, rgba(0, 0, 0, 0) 100%); }
    .carousel__item-info {
      padding: 0 1.5rem 1.5rem;
      position: absolute;
      bottom: 0;
      z-index: 2; }
      .carousel__item-info__title {
        margin: 0 0 1.4rem;
        font-size: 2.8rem;
        color: white;
        letter-spacing: .04rem;
        font-weight: 400; }
      .carousel__item-info__desc {
        display: none; }
      .carousel__item-info__rating {
        display: flex;
        color: #999999; }
        .carousel__item-info__rating p {
          margin-right: 1.2rem;
          font-size: 1.4rem; }

.item-carousel-container {
  margin: 2.5rem 0;
  margin-right: 0; }
  .item-carousel-container__title {
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    display: flex;
    align-items: baseline;
    font-size: 1.8rem;
    letter-spacing: .04rem;
    font-weight: 400;
    color: white; }
    .item-carousel-container__title a {
      color: #2196f3;
      letter-spacing: .4px;
      text-decoration: none;
      font-size: 1.4rem;
      margin-left: 1rem; }

.item-carousel__item {
  width: calc(33.333% - 7.33326px);
  counter-increment: carousel-cell;
  margin-right: .8rem; }
  .item-carousel__item-link {
    text-decoration: none; }
  .item-carousel__item-img {
    width: 100%; }
  .item-carousel__item-title, .item-carousel__item-name {
    display: none; }
  .item-carousel__item-character {
    font-size: 1.4rem;
    color: #80868b;
    letter-spacing: .04rem;
    margin-top: .5rem; }

.item-carousel .flickity-slider {
  margin-left: 1.5rem; }

.movie-carousel-container,
.cast-carousel-container {
  margin: 2.5rem 0;
  margin-right: 0; }
  .movie-carousel-container__title,
  .cast-carousel-container__title {
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    display: flex;
    align-items: baseline;
    font-size: 1.8rem;
    letter-spacing: .04rem;
    font-weight: 400;
    color: white; }
    .movie-carousel-container__title a,
    .cast-carousel-container__title a {
      color: #2196f3;
      letter-spacing: .4px;
      text-decoration: none;
      font-size: 1.4rem;
      margin-left: 1rem; }

.movie-carousel__item,
.cast-carousel__item {
  width: calc(33.333% - 7.33326px);
  counter-increment: carousel-cell;
  margin-right: .8rem; }
  .movie-carousel__item-link,
  .cast-carousel__item-link {
    text-decoration: none; }
  .movie-carousel__item-img,
  .cast-carousel__item-img {
    width: 100%; }
  .movie-carousel__item-title, .movie-carousel__item-name,
  .cast-carousel__item-title,
  .cast-carousel__item-name {
    display: none; }
  .movie-carousel__item-character,
  .cast-carousel__item-character {
    font-size: 1.4rem;
    color: #80868b;
    letter-spacing: .04rem;
    margin-top: .5rem; }

.movie-carousel .flickity-slider,
.cast-carousel .flickity-slider {
  margin-left: 1.5rem; }

.review-carousel-container {
  margin: 2.5rem 0;
  margin-right: 0; }
  .review-carousel-container__title {
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    display: flex;
    align-items: baseline;
    font-size: 1.8rem;
    letter-spacing: .04rem;
    font-weight: 400;
    color: white; }
    .review-carousel-container__title a {
      color: #2196f3;
      letter-spacing: .4px;
      text-decoration: none;
      font-size: 1.4rem;
      margin-left: 1rem; }
  .review-carousel-container__add {
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
    margin-left: 1rem;
    color: #2196f3;
    letter-spacing: .04rem;
    text-decoration: underline;
    cursor: pointer; }

.review-carousel__item {
  width: 100%;
  counter-increment: carousel-cell; }
  .review-carousel__item-content {
    width: calc(100% - 3rem);
    margin: 0 1.5rem;
    padding: 1.5rem;
    background-color: #2F2F2F;
    letter-spacing: .04rem;
    font-weight: 400;
    color: white; }
  .review-carousel__item-text {
    font-size: 1.4rem; }
  .review-carousel__item-rating {
    font-size: 1.6rem;
    margin: 1.5rem 0; }
  .review-carousel__item-name {
    text-transform: uppercase; }

@media only screen and (min-width: 640px) {
  .carousel {
    height: 50rem; }
    .carousel__item-backdrop {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden; }
  .movie-carousel__item,
  .cast-carousel__item {
    width: calc(25% - 18px); } }

@media only screen and (min-width: 768px) {
  .carousel {
    height: 50rem; }
    .carousel__item-gradient {
      background: linear-gradient(0deg, black 0%, black 37%, rgba(0, 0, 0, 0) 100%); }
    .carousel__item-info {
      padding: 0 4rem 4rem; }
      .carousel__item-info__desc {
        display: block;
        font-size: 1.5rem;
        color: white;
        margin-top: 2.5rem; }
  .movie-carousel-container,
  .cast-carousel-container {
    margin: 3rem 0; }
    .movie-carousel-container__title,
    .cast-carousel-container__title {
      margin-left: 5rem; }
  .movie-carousel .flickity-slider,
  .cast-carousel .flickity-slider {
    margin-left: 5rem; }
  .review-carousel-container {
    margin: 3rem 0; }
    .review-carousel-container__title {
      margin-left: 5rem; }
  .review-carousel__item-content {
    width: calc(100% - 10rem);
    margin-right: 0;
    margin-left: 0; }
  .review-carousel .flickity-slider {
    margin-left: 5rem; } }

@media only screen and (min-width: 1024px) {
  .carousel {
    width: 100%; }
    .carousel__item {
      width: 100%;
      margin: 0;
      height: 70rem;
      position: relative; }
      .carousel__item-gradient {
        background: linear-gradient(90deg, black 0%, black 30%, rgba(0, 0, 0, 0) 100%);
        z-index: 1; }
      .carousel__item-info {
        width: 43%;
        padding-right: 5rem;
        padding-left: 5rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        height: 100%; }
        .carousel__item-info__title {
          margin-bottom: 1.8rem; }
        .carousel__item-info__desc {
          font-size: 1.5rem;
          display: block;
          margin-top: 2.5rem; }
        .carousel__item-info__rating {
          display: flex;
          font-size: .9vw;
          color: #999999; }
          .carousel__item-info__rating p {
            margin-right: 1.2rem; }
        .carousel__item-info__trailer {
          font-size: .9vw;
          margin-top: 3rem;
          display: inline-flex;
          align-items: center;
          padding: 1.5rem 2.5rem;
          font-weight: 500;
          color: white;
          letter-spacing: .05em;
          cursor: pointer;
          background-color: #202124;
          transition: all .2s;
          text-align: center;
          border: 0;
          border-radius: 0;
          text-transform: none;
          overflow: visible; }
          .carousel__item-info__trailer span {
            display: flex;
            margin-right: 1rem;
            font-size: .9vw;
            text-align: center; }
            .carousel__item-info__trailer span ion-icon {
              height: 2.2rem;
              width: 2.2rem; }
          .carousel__item-info__trailer:hover {
            transition: all .2s;
            background-color: #2F2F2F; }
          .carousel__item-info__trailer:focus {
            outline-color: -webkit-focus-ring-color;
            outline-style: auto;
            outline-width: .1rem; }
      .carousel__item-backdrop {
        position: absolute;
        top: 0;
        right: 0;
        width: 71.1%;
        height: 100%; }
  .movie-carousel-container,
  .cast-carousel-container {
    margin: 5rem 0; }
  .movie-carousel__item,
  .cast-carousel__item {
    width: calc(20% - 1.44rem); } }

@media only screen and (min-width: 1200px) {
  .carousel {
    height: 70rem;
    width: 100%; }
    .carousel__item {
      width: 100%;
      margin: 0;
      position: relative; }
      .carousel__item-gradient {
        background: linear-gradient(90deg, black 0%, black 30%, rgba(0, 0, 0, 0) 100%);
        z-index: 1; }
      .carousel__item-info {
        width: 43%;
        padding-right: 5rem;
        padding-left: 5rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        height: 100%; }
        .carousel__item-info__title {
          margin-bottom: 1.8rem;
          font-size: 2.4vw; }
        .carousel__item-info__desc {
          font-size: 1vw;
          display: block;
          margin-top: 2.5rem; }
        .carousel__item-info__rating {
          display: flex;
          color: #999999; }
          .carousel__item-info__rating p {
            font-size: .9vw;
            margin-right: 1.2rem; }
        .carousel__item-info__trailer {
          font-size: .9vw;
          margin-top: 3rem;
          display: inline-flex;
          align-items: center;
          padding: 1.5rem 2.5rem;
          font-weight: 500;
          color: white;
          letter-spacing: .05em;
          cursor: pointer;
          background-color: #202124;
          transition: all .2s;
          text-align: center;
          border: 0;
          border-radius: 0;
          text-transform: none;
          overflow: visible; }
          .carousel__item-info__trailer span {
            display: flex;
            margin-right: 1rem;
            font-size: .9vw;
            text-align: center; }
            .carousel__item-info__trailer span ion-icon {
              height: 2.2rem;
              width: 2.2rem; }
          .carousel__item-info__trailer:hover {
            transition: all .2s;
            background-color: #2F2F2F; }
          .carousel__item-info__trailer:focus {
            outline-color: -webkit-focus-ring-color;
            outline-style: auto;
            outline-width: .1rem; }
      .carousel__item-backdrop {
        position: absolute;
        top: 0;
        right: 0;
        width: 71.1%;
        height: 100%; }
  .movie-carousel-container__title,
  .cast-carousel-container__title {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    line-height: 1.6; }
  .movie-carousel__item,
  .cast-carousel__item {
    width: 22.1rem; } }

.search {
  grid-area: search;
  position: fixed;
  padding: 2.1rem 1.5rem;
  font-size: 1.6rem;
  color: white;
  background-color: #202124;
  overflow: visible;
  line-height: 1.15;
  top: -7.5rem;
  right: 0;
  width: 100%;
  z-index: 10;
  height: 6rem;
  border: none;
  transition: all .2s; }
  .search-active {
    top: 0;
    transition: all .2s; }
  .search-results {
    grid-area: searchresults;
    position: fixed;
    z-index: 5;
    right: 0;
    bottom: 4.5rem;
    display: none;
    width: 100%;
    height: calc(100% - 10.5rem);
    background-color: #141414;
    padding: 3rem 1.5rem;
    overflow: scroll;
    overflow-x: hidden; }
    .search-results-active {
      display: block; }
    .search-results__for {
      font-size: 1.8rem;
      letter-spacing: .04rem;
      font-weight: 400;
      color: white;
      margin-bottom: 1.5rem; }
    .search-results__results {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); }
      .search-results__results-item {
        margin: 0 .4rem;
        margin-bottom: 2rem; }
        .search-results__results-item__img {
          width: 100%; }
        .search-results__results-item__title {
          margin-bottom: .5rem;
          font-size: 1.3rem;
          margin-top: 1rem;
          overflow: hidden;
          text-overflow: ellipsis;
          letter-spacing: .04rem;
          white-space: nowrap;
          color: white; }
        .search-results__results-item__link {
          text-decoration: none; }

@media only screen and (min-width: 1024px) {
  .search-results__results {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); } }

@media only screen and (min-width: 1200px) {
  .search {
    grid-area: search;
    position: fixed;
    top: -7.5rem;
    right: 0;
    width: calc(100% - 10rem);
    z-index: 10;
    height: 7.5rem;
    border: none;
    background-color: #202124;
    font-size: 1.6rem;
    color: white;
    transition: all .2s;
    padding: 0 5rem; }
    .search-active {
      top: 0;
      transition: all .2s; }
    .search-results {
      grid-area: searchresults;
      position: fixed;
      z-index: 5;
      right: 0;
      bottom: 0;
      display: none;
      width: calc(100% - 10rem);
      height: calc(100% - 7.5rem);
      background-color: #141414;
      padding: 5rem;
      overflow: scroll;
      overflow-x: hidden; }
      .search-results-active {
        display: block; }
      .search-results__for {
        font-size: 2.4rem;
        letter-spacing: .04rem;
        font-weight: 400;
        color: white;
        margin-bottom: 2rem; }
      .search-results__results {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr)); }
        .search-results__results-item {
          margin: 0 .4rem;
          margin-bottom: 2rem; }
          .search-results__results-item__img {
            width: 100%; }
          .search-results__results-item__title {
            margin-bottom: .5rem;
            font-size: 1.5rem;
            margin-top: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            letter-spacing: .04rem;
            white-space: nowrap;
            color: white; }
          .search-results__results-item__link {
            text-decoration: none; } }

.addmovie {
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: #141414;
  padding: 3rem 1.5rem; }
  .addmovie-active {
    display: block; }
  .addmovie__form {
    width: 100%;
    padding: 2rem 5rem; }
    .addmovie__form--title {
      margin-bottom: 1.5rem;
      display: flex;
      align-items: baseline;
      font-size: 2rem;
      letter-spacing: 0.04rem;
      font-weight: 400;
      color: white; }
    .addmovie__form-label {
      display: block;
      color: white;
      font-size: 1.6rem;
      margin-bottom: 1rem; }
      .addmovie__form-label:not(:first-child) {
        margin-top: 2rem; }
    .addmovie__form input,
    .addmovie__form textarea {
      width: 100%;
      padding: 1rem;
      background-color: #fafafa;
      border: none;
      font-size: 1.6rem; }
    .addmovie__form input {
      height: 4.5rem; }
    .addmovie__form textarea {
      height: 15rem;
      resize: none;
      font-size: 1.6rem; }
    .addmovie__form input[type="button"] {
      margin-top: 4rem;
      font-size: 1.6rem;
      text-transform: uppercase;
      background-color: #2f2f2f;
      color: white; }

@media only screen and (min-width: 1024px) {
  .addmovie__form {
    width: 70%; } }

@media only screen and (min-width: 1200px) {
  .addmovie {
    height: 100%;
    width: calc(100% - 10rem);
    top: 0;
    right: 0; }
    .addmovie__form {
      width: 50%; } }

.homepage {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "mobileback" "search" "homemain" "footer" "navigation"; }
  .homepage__main {
    grid-area: homemain; }

@media only screen and (min-width: 1200px) {
  .homepage {
    grid-template-columns: 10rem 1fr;
    grid-template-areas: ". addmovie" ". search" ". searchresults" "navigation homemain" "navigation footer"; } }

.detail__main,
.castDetail__main {
  padding-top: 4.5rem; }
  .detail__main-details,
  .castDetail__main-details {
    margin: 2.5rem 1.5rem; }
    .detail__main-details__left-img,
    .castDetail__main-details__left-img {
      width: 50%;
      margin-bottom: 2rem; }
    .detail__main-details__right-overview,
    .castDetail__main-details__right-overview {
      margin-bottom: 3rem; }
      .detail__main-details__right-overview__title, .detail__main-details__right-overview__name,
      .castDetail__main-details__right-overview__title,
      .castDetail__main-details__right-overview__name {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        color: white;
        letter-spacing: 0.04rem;
        font-weight: 400; }
      .detail__main-details__right-overview__desc,
      .castDetail__main-details__right-overview__desc {
        font-size: 1.5rem;
        color: #fafafa;
        font-weight: 400;
        line-height: 1.6; }
    .detail__main-details__right-stats,
    .castDetail__main-details__right-stats {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin-bottom: 3rem; }
      .detail__main-details__right-stats__item,
      .castDetail__main-details__right-stats__item {
        width: 100%;
        display: flex;
        padding: 0.2rem 0; }
        .detail__main-details__right-stats__item p,
        .castDetail__main-details__right-stats__item p {
          font-size: 1.5rem;
          line-height: 1.6rem;
          color: white; }
          .detail__main-details__right-stats__item p:first-child,
          .castDetail__main-details__right-stats__item p:first-child {
            width: 9rem;
            margin-right: 1.5rem; }
    .detail__main-details__right-external,
    .castDetail__main-details__right-external {
      display: flex;
      margin-left: -0.5rem;
      list-style: none; }
      .detail__main-details__right-external__item a,
      .castDetail__main-details__right-external__item a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.4rem;
        height: 4.4rem;
        color: white;
        text-decoration: none;
        background-color: transparent; }
        .detail__main-details__right-external__item a ion-icon,
        .castDetail__main-details__right-external__item a ion-icon {
          width: 2.4rem;
          height: 2.4rem; }
  .detail__main .reviewadd,
  .castDetail__main .reviewadd {
    position: fixed;
    z-index: 5;
    right: 0;
    bottom: 4.5rem;
    display: none;
    width: 100%;
    height: calc(100% - 8.5rem);
    background-color: #141414;
    padding: 3rem 1.5rem;
    overflow: scroll;
    overflow-x: hidden; }
    .detail__main .reviewadd-active,
    .castDetail__main .reviewadd-active {
      display: block; }
    .detail__main .reviewadd__form,
    .castDetail__main .reviewadd__form {
      width: 100%;
      padding: 2rem 5rem; }
      .detail__main .reviewadd__form-back,
      .castDetail__main .reviewadd__form-back {
        display: none; }
      .detail__main .reviewadd__form--title,
      .castDetail__main .reviewadd__form--title {
        margin-bottom: 1.5rem;
        display: flex;
        align-items: baseline;
        font-size: 2rem;
        letter-spacing: 0.04rem;
        font-weight: 400;
        color: white; }
      .detail__main .reviewadd__form-label,
      .castDetail__main .reviewadd__form-label {
        display: block;
        color: white;
        font-size: 1.6rem;
        margin-bottom: 1rem; }
        .detail__main .reviewadd__form-label:not(:first-child),
        .castDetail__main .reviewadd__form-label:not(:first-child) {
          margin-top: 2rem; }
      .detail__main .reviewadd__form input,
      .detail__main .reviewadd__form textarea,
      .castDetail__main .reviewadd__form input,
      .castDetail__main .reviewadd__form textarea {
        width: 100%;
        padding: 1rem;
        background-color: #fafafa;
        border: none;
        font-size: 1.6rem; }
      .detail__main .reviewadd__form input,
      .castDetail__main .reviewadd__form input {
        height: 4.5rem; }
      .detail__main .reviewadd__form textarea,
      .castDetail__main .reviewadd__form textarea {
        height: 15rem;
        resize: none;
        font-size: 1.6rem; }
      .detail__main .reviewadd__form input[type="button"],
      .castDetail__main .reviewadd__form input[type="button"] {
        margin-top: 4rem;
        font-size: 1.6rem;
        text-transform: uppercase;
        background-color: #2f2f2f;
        color: white; }

@media only screen and (min-width: 768px) {
  .detail__main-details,
  .castDetail__main-details {
    margin-right: 5rem;
    margin-left: 5rem; } }

@media only screen and (min-width: 1024px) {
  .detail .reviewadd__form,
  .castDetail .reviewadd__form {
    width: 70%; }
  .detail__main,
  .castDetail__main {
    padding-top: 4.5rem; }
    .detail__main-details,
    .castDetail__main-details {
      margin: 2.5rem 1.5rem; }
      .detail__main-details__left-img,
      .castDetail__main-details__left-img {
        width: 30%;
        margin-bottom: 2rem; } }

@media only screen and (min-width: 1200px) {
  .detail,
  .castDetail {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: auto;
    grid-template-areas: "navigation detailmain" ". footer"; }
    .detail__main,
    .castDetail__main {
      grid-area: detailmain;
      padding-top: 0; }
      .detail__main-details,
      .castDetail__main-details {
        display: flex;
        margin: 5rem; }
        .detail__main-details__left,
        .castDetail__main-details__left {
          padding-right: 5rem;
          display: block;
          width: 330rem;
          max-width: 40rem;
          position: relative;
          overflow: hidden; }
          .detail__main-details__left-img,
          .castDetail__main-details__left-img {
            width: 100%; }
        .detail__main-details__right-overview,
        .castDetail__main-details__right-overview {
          max-width: 100rem;
          margin-bottom: 3rem; }
          .detail__main-details__right-overview__title, .detail__main-details__right-overview__name,
          .castDetail__main-details__right-overview__title,
          .castDetail__main-details__right-overview__name {
            font-size: 2.4rem;
            margin-bottom: 1rem;
            color: white;
            letter-spacing: 0.04rem;
            font-weight: 400; }
          .detail__main-details__right-overview__desc,
          .castDetail__main-details__right-overview__desc {
            font-size: 1.6rem;
            color: #fafafa;
            line-height: 2.2rem; }
        .detail__main-details__right-stats,
        .castDetail__main-details__right-stats {
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          margin-bottom: 3rem; }
          .detail__main-details__right-stats__item,
          .castDetail__main-details__right-stats__item {
            width: 100%;
            display: flex;
            padding: 0.2rem 0; }
            .detail__main-details__right-stats__item p,
            .castDetail__main-details__right-stats__item p {
              font-size: 1.6rem;
              line-height: 2.5rem;
              color: white; }
              .detail__main-details__right-stats__item p:first-child,
              .castDetail__main-details__right-stats__item p:first-child {
                margin-right: 1.5rem;
                width: 11rem; }
        .detail__main-details__right-external,
        .castDetail__main-details__right-external {
          display: flex;
          margin-left: -0.5rem;
          list-style: none; }
          .detail__main-details__right-external__item a,
          .castDetail__main-details__right-external__item a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4.4rem;
            height: 4.4rem;
            color: white;
            text-decoration: none;
            background-color: transparent; }
            .detail__main-details__right-external__item a ion-icon,
            .castDetail__main-details__right-external__item a ion-icon {
              width: 2.4rem;
              height: 2.4rem; }
      .detail__main .reviewadd,
      .castDetail__main .reviewadd {
        height: 100%;
        width: calc(100% - 10rem);
        top: 0;
        right: 0; }
        .detail__main .reviewadd__form,
        .castDetail__main .reviewadd__form {
          width: 50%; }
          .detail__main .reviewadd__form-back,
          .castDetail__main .reviewadd__form-back {
            width: 2.4rem;
            height: 2.4rem;
            padding: 0;
            margin: 0;
            background: transparent;
            border: none;
            outline: 0;
            transition: all .2s;
            cursor: pointer;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 4rem; }
            .detail__main .reviewadd__form-back ion-icon,
            .castDetail__main .reviewadd__form-back ion-icon {
              display: block;
              height: 100%;
              width: 100%;
              color: white; }
  .castDetail {
    position: relative; }
    .castDetail__main-details {
      flex-direction: row-reverse;
      justify-content: flex-end; }
      .castDetail__main-details__right {
        margin-right: 5rem; } }

.about__main {
  padding-top: 4.5rem; }
  .about__main-details {
    margin: 2.5rem 1.5rem; }
    .about__main-details__left-img {
      width: 50%;
      margin-bottom: 2rem; }
    .about__main-details__right-overview {
      margin-bottom: 3rem; }
      .about__main-details__right-overview__title, .about__main-details__right-overview__name {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        color: white;
        letter-spacing: 0.04rem;
        font-weight: 400; }
      .about__main-details__right-overview__desc {
        font-size: 1.5rem;
        color: #fafafa;
        font-weight: 400;
        line-height: 1.6; }
    .about__main-details__right-stats {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin-bottom: 3rem; }
      .about__main-details__right-stats__title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: white;
        letter-spacing: 0.04rem;
        font-weight: 400; }
      .about__main-details__right-stats__item {
        width: 100%;
        display: flex;
        padding: 0.2rem 0; }
        .about__main-details__right-stats__item p {
          font-size: 1.5rem;
          line-height: 1.6rem;
          color: white; }
          .about__main-details__right-stats__item p span {
            display: block;
            margin-top: .5rem; }
          .about__main-details__right-stats__item p:first-child {
            width: 9rem;
            margin-right: 1.5rem; }
    .about__main-details__right-external {
      display: flex;
      margin-left: -0.5rem;
      list-style: none; }
      .about__main-details__right-external__item a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.4rem;
        height: 4.4rem;
        color: white;
        text-decoration: none;
        background-color: transparent; }
        .about__main-details__right-external__item a ion-icon {
          width: 2.4rem;
          height: 2.4rem; }

@media only screen and (min-width: 768px) {
  .about__main-details {
    margin-right: 5rem;
    margin-left: 5rem; } }

@media only screen and (min-width: 1024px) {
  .about__main {
    padding-top: 4.5rem; }
    .about__main-details {
      margin: 2.5rem 1.5rem; }
      .about__main-details__left-img {
        width: 30%;
        margin-bottom: 2rem; } }

@media only screen and (min-width: 1200px) {
  .about {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: auto;
    grid-template-areas: "navigation detailmain" ". footer"; }
    .about__main {
      grid-area: detailmain;
      padding-top: 0; }
      .about__main-details {
        display: flex;
        margin: 5rem; }
        .about__main-details__left {
          padding-right: 5rem;
          display: block;
          width: 330rem;
          max-width: 40rem;
          position: relative;
          overflow: hidden; }
          .about__main-details__left-img {
            width: 100%; }
        .about__main-details__right-overview {
          max-width: 100rem;
          margin-bottom: 3rem; }
          .about__main-details__right-overview__title, .about__main-details__right-overview__name {
            font-size: 2.4rem;
            margin-bottom: 1rem;
            color: white;
            letter-spacing: 0.04rem;
            font-weight: 400; }
          .about__main-details__right-overview__desc {
            font-size: 1.6rem;
            color: #fafafa;
            line-height: 2.2rem; }
        .about__main-details__right-stats {
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          margin-bottom: 3rem; }
          .about__main-details__right-stats__item {
            width: 100%;
            display: flex;
            padding: 0.2rem 0; }
            .about__main-details__right-stats__item p {
              font-size: 1.6rem;
              line-height: 2.5rem;
              color: white; }
              .about__main-details__right-stats__item p:first-child {
                margin-right: 1.5rem;
                width: 11rem; }
        .about__main-details__right-external {
          display: flex;
          margin-left: -0.5rem;
          list-style: none; }
          .about__main-details__right-external__item a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4.4rem;
            height: 4.4rem;
            color: white;
            text-decoration: none;
            background-color: transparent; }
            .about__main-details__right-external__item a ion-icon {
              width: 2.4rem;
              height: 2.4rem; } }
