.carousel {
    height: 35rem;

    &__item {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &-backdrop {
            position: relative;
            display: flex;
            min-height: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
        }

        &-gradient {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 22%, rgba(0,0,0,0) 100%);
        }

        &-info {
            padding: 0 1.5rem 1.5rem;
            position: absolute;
            bottom: 0;
            z-index: 2;

            &__title {
                margin: 0 0 1.4rem;
                font-size: 2.8rem;
                color: white;
                letter-spacing: .04rem;
                font-weight: 400;
            }

            &__desc {
                display: none;
            }

            &__rating {
                display: flex;
                color: #999999;

                p {
                    margin-right: 1.2rem;
                    font-size: 1.4rem;
                }
            }
        }
    }
}

.movie-carousel,
.cast-carousel {
    &-container {
        margin: 2.5rem 0;
        margin-right: 0;

        &__title {
            margin-bottom: 1.5rem;
            margin-left: 1.5rem;
            display: flex;
            align-items: baseline;
            font-size: 1.8rem;
            letter-spacing: .04rem;
            font-weight: 400;
            color: white;

            a {
                color: #2196f3;
                letter-spacing: .4px;
                text-decoration: none;
                font-size: 1.4rem;
                margin-left: 1rem;
            }
        }
    }

    &__item {   
        width: calc(33.333% - 7.33326px);
        counter-increment: carousel-cell;
        margin-right: .8rem;

        &-link {
            text-decoration: none;
        }

        &-img {
            width: 100%;
        }

        &-title,
        &-name {
            display: none;
        }

        &-character {
            font-size: 1.4rem;
            color: #80868b;
            letter-spacing: .04rem;
            margin-top: .5rem;
        }
    }

    .flickity-slider {
        margin-left: 1.5rem;
    }
}

@media only screen and (min-width: 640px) {
    .carousel {
        height: 50rem;

        &__item {
            &-backdrop {
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
            }
        }
    }

    .movie-carousel,
    .cast-carousel {
        &__item {   
            width: calc(25% - 18px);
        }
    }
}

@media only screen and (min-width: 768px) {
    .carousel {
        height: 50rem;
    
        &__item {
            &-gradient {
                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 37%, rgba(0,0,0,0) 100%);
            }
    
            &-info {
                padding: 0 4rem 4rem;

                &__desc {
                    display: block;
                    font-size: 1.5rem;
                    color: white;
                    margin-top: 2.5rem;
                }
            }
        }
    }

    .movie-carousel,
    .cast-carousel {
        &-container {
            margin: 3rem 0;

            &__title {
                margin-left: 5rem;
            }
        }

        .flickity-slider {
            margin-left: 5rem;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .carousel {
        width: 100%;

        &__item {
            width: 100%;
            margin: 0;
            height: 70rem;
            position: relative;

            &-gradient {
                background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 100%);            z-index: 1;
            }

            &-info {
                width: 43%;
                padding-right: 5rem;
                padding-left: 5rem;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                height: 100%;

                &__title {
                    margin-bottom: 1.8rem;
                }

                &__desc {
                    font-size: 1.5rem;
                    display: block;
                    margin-top: 2.5rem;
                }
    
                &__rating {
                    display: flex;
                    font-size: .9vw;
                    color: #999999;
    
                    p {
                        margin-right: 1.2rem;
                    }
                }

                &__trailer {
                    font-size: .9vw;
                    margin-top: 3rem;
                    display: inline-flex;
                    align-items: center;
                    padding: 1.5rem 2.5rem;
                    font-weight: 500;
                    color: white;
                    letter-spacing: .05em;
                    cursor: pointer;
                    background-color: #202124;
                    transition: all .2s;
                    text-align: center;
                    border: 0;
                    border-radius: 0;
                    text-transform: none;
                    overflow: visible;
    
                    span {
                        display: flex;
                        margin-right: 1rem;
                        font-size: .9vw;
                        text-align: center;
    
                        & ion-icon {
                            height: 2.2rem;
                            width: 2.2rem;
                        }
                    }
    
                    &:hover {
                        transition: all .2s;
                        background-color: #2F2F2F;
                    }
    
                    &:focus {
                        outline-color: -webkit-focus-ring-color;
                        outline-style: auto;
                        outline-width: .1rem;
                    }
                }
            }

            &-backdrop {
                position: absolute;
                top: 0;
                right: 0;
                width: 71.1%;
                height: 100%;
            }
        }
    } 
    
    .movie-carousel,
    .cast-carousel {
        &-container {
            margin: 5rem 0;
        }

        &__item {
            width: calc(20% - 1.44rem);
        }
    }
}

@media only screen and (min-width: 1200px) {
    .carousel {
        height: 70rem;
        width: 100%;

        &__item {
            width: 100%;
            margin: 0;
            position: relative;

            &-gradient {
                background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 100%);            z-index: 1;
            }

            &-info {
                width: 43%;
                padding-right: 5rem;
                padding-left: 5rem;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                height: 100%;

                &__title {
                    margin-bottom: 1.8rem;
                    font-size: 2.4vw;
                }

                &__desc {
                    font-size: 1vw;
                    display: block;
                    margin-top: 2.5rem;
                }
    
                &__rating {
                    display: flex;
                    color: #999999;
    
                    p {
                        font-size: .9vw;
                        margin-right: 1.2rem;
                    }
                }

                &__trailer {
                    font-size: .9vw;
                    margin-top: 3rem;
                    display: inline-flex;
                    align-items: center;
                    padding: 1.5rem 2.5rem;
                    font-weight: 500;
                    color: white;
                    letter-spacing: .05em;
                    cursor: pointer;
                    background-color: #202124;
                    transition: all .2s;
                    text-align: center;
                    border: 0;
                    border-radius: 0;
                    text-transform: none;
                    overflow: visible;
    
                    span {
                        display: flex;
                        margin-right: 1rem;
                        font-size: .9vw;
                        text-align: center;
    
                        & ion-icon {
                            height: 2.2rem;
                            width: 2.2rem;
                        }
                    }
    
                    &:hover {
                        transition: all .2s;
                        background-color: #2F2F2F;
                    }
    
                    &:focus {
                        outline-color: -webkit-focus-ring-color;
                        outline-style: auto;
                        outline-width: .1rem;
                    }
                }
            }

            &-backdrop {
                position: absolute;
                top: 0;
                right: 0;
                width: 71.1%;
                height: 100%;
            }
        }
    } 

    .movie-carousel,
    .cast-carousel {
        &-container {
            &__title {
                font-size: 2.4rem;
                margin-bottom: 2rem;
                line-height: 1.6;
            }
        }

        &__item {
            width: 22.1rem;
        }
    }
}