.detail {
    &__main {
        padding-top: 4.5rem;

        &-details {
            margin: 2.5rem 1.5rem;

            &__left {
                display: none;
            }

            &__right {
                &-overview {
                    margin-bottom: 3rem;

                    &__title {
                        font-size: 1.8rem;
                        margin-bottom: 1rem;
                        color: white;
                        letter-spacing: .04rem;
                        font-weight: 400;
                    }

                    &__desc {
                        font-size: 1.5rem;
                        color: #fafafa;
                        font-weight: 400;
                        line-height: 1.6;
                    }
                }

                &-stats {
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    margin-bottom: 3rem;

                    &__item {
                        width: 100%;
                        display: flex;
                        padding: .2rem 0;

                        p {
                            font-size: 1.5rem;
                            line-height: 1.6rem;
                            color: white;

                            &:first-child {
                                width: 9rem;
                                margin-right: 1.5rem;
                            }
                        }
                    }
                }

                &-external {
                    display: flex;
                    margin-left: -.5rem;
                    list-style: none;

                    &__item {
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 4.4rem;
                            height: 4.4rem;
                            color: white;
                            text-decoration: none;
                            background-color: transparent;

                            ion-icon {
                                width: 2.4rem;
                                height: 2.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .detail {
        &__main {
            &-details {
                margin-right: 5rem;
                margin-left: 5rem;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .detail,
.castDetail {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "navigation detailmain"
    ". footer";

    &__main {
        grid-area: detailmain;
        padding-top: 0;

        &-details {
            display: flex;
            margin: 5rem;

            &__left {
                padding-right: 5rem;
                display: block;
                width: 330rem;
                max-width: 40rem;
                position: relative;
                overflow: hidden;

                &-img {
                    width: 100%;
                }
            }

            &__right {
                &-overview {
                    max-width: 100rem;
                    margin-bottom: 3rem;

                    &__title,
                    &__name {
                        font-size: 2.4rem;
                        margin-bottom: 1rem;
                        color: white;
                        letter-spacing: .04rem;
                        font-weight: 400;
                    }

                    &__desc {
                        font-size: 1.6rem;
                        color: #fafafa;
                        line-height: 2.2rem;
                    }
                }

                &-stats {
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    margin-bottom: 3rem;

                    &__item {
                        width: 100%;
                        display: flex;
                        padding: .2rem 0;

                        p {
                            font-size: 1.6rem;
                            line-height: 2.5rem;
                            color: white;

                            &:first-child {
                                margin-right: 1.5rem;
                                width: 11rem;
                            }
                        }
                    }
                }

                &-external {
                    display: flex;
                    margin-left: -.5rem;
                    list-style: none;

                    &__item {
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 4.4rem;
                            height: 4.4rem;
                            color: white;
                            text-decoration: none;
                            background-color: transparent;

                            ion-icon {
                                width: 2.4rem;
                                height: 2.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.castDetail {
    position: relative;

    &__main {
        &-details {
            flex-direction: row-reverse;
            justify-content: flex-end;

            &__right {
                margin-right: 5rem;
            }
        }
    }
}
}